<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot  name="mesa_general">
  <link name="mesa_base_link">
    <inertial>
      <origin
        xyz="-0.085705 -0.13074 0.69384"
        rpy="0 0 0" />
      <mass
        value="1645.6" />
      <inertia
        ixx="283.4"
        ixy="0.33791"
        ixz="-0.0066564"
        iyy="410.14"
        iyz="-0.095"
        izz="135.33" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mesa_general/meshes/mesa_general_sola.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.50196 0.50196 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mesa_general/meshes/mesa_general_sola.dae" />
      </geometry>
    </collision>
  </link>

</robot>