<?xml version="1.0"?>

<launch>

  
    <include file="$(find cell_sim)/launch/launch_gazebo.launch"/>

  

    <group ns="mesa">
        
        <param  name="robot_description" 
                textfile="$(find mesa_general)/urdf/mesa_general.urdf" />
     

        <include file="$(find cell_sim)/launch/spawn_model.launch">
                <arg name="robot_name" value="mesa"/>
                <arg name="init_pose" value="-x 0 -y 0 -z 0.002"/>
                
        </include>

  
    </group>

    <include file="$(find cell_sim)/launch/launch_robots.launch"/>

 
</launch>