<?xml version="1.0"?>

<launch>

  
    <!--include file="$(find cell_sim)/launch/launch_gazebo.launch"/-->

  

    <group ns="mesa">
        
        <param  name="robot_description" textfile="$(find mesa_general)/urdf/mesa_general.urdf" />
         <param  name="tf_prefix" value="tf_mesa" />
     

        <include file="$(find cell_sim)/launch/spawn_model.launch">
                <arg name="robot_name" value="mesa"/>
                <arg name="init_pose" value="-x 0 -y 0 -z 0.0"/>
                
        </include>

  
    </group>
       <group ns="bloque">
        
        <param  name="robot_description" textfile="$(find mesa_general)/urdf/objects/block.urdf" />
        <param  name="tf_prefix" value="tf_mesa" />


        <include file="$(find cell_sim)/launch/spawn_model.launch">
                <arg name="robot_name" value="block"/>
                <arg name="init_pose" value="-x 0.6 -y -0.3 -z 0.99"/>
                
        </include>

  
    </group>

    <!--include file="$(find cell_sim)/launch/launch_robots_ur5.launch"/-->


 
</launch>