<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robot_gripper">

   

    <xacro:include filename="$(find ur_gripper_sim)/urdf/ur5_robotiq_gripper.xacro" />    
    <xacro:include filename="$(find mesa_general)/urdf/mesa_general.urdf" />
    <xacro:include filename="$(find mesa_general)/urdf/objects/block.urdf" />
    
    <joint name="mesa_block_joint" type="fixed">
        <parent link="mesa_base_link" />
        <child link = "block" />
        <origin xyz="0.6 -0.3 0.99" rpy="0.0 0.0 0.0" />
      </joint>

    <joint name="mesa_robot_joint" type="fixed">
        <parent link="mesa_base_link" />
        <child link = "base_link" />
        <origin xyz="0.02 -0.220 0.99" rpy="0.0 0.0 -1.57" />
      </joint>

<link name="world"/>
  <joint name="world_mesa" type="fixed">
      <parent link="world"/>
      <child link="mesa_base_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

   <gazebo>
    <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
      <robotNamesapce>/gripper_2fs</robotNamesapce>
    </plugin>
  </gazebo>

</robot>