<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="robotiq_85_gripper_transmission" params="prefix">

        <transmission name="${prefix}gripper_finger1_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}gripper_finger1_joint">
                <hardwareInterface>PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}gripper_finger1_motor">
                <mechanicalReduction>1</mechanicalReduction>
                <hardwareInterface>PositionJointInterface</hardwareInterface>
            </actuator>
        </transmission>
        
    </xacro:macro>

</robot>
