<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="eje_ext_gazebo" params="prefix">

    <gazebo reference="${prefix}eje_extern_part_1_link">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}eje_extern_part_2_link">
      <selfCollide>true</selfCollide>
    </gazebo>

  </xacro:macro>

</robot>
