<?xml version="1.0"?>
<launch>
    
    <rosparam file="$(find onrobot_sim)/config/joints_controller.yaml" command="load"/>
    
     <!-- load the controllers -->
    <node name="gripper_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="finger1_position_controller gripper_joint_state_controller"/>  

    <node name="gripper_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <remap from="/joint_states" to="/gripper/joint_states" />
    </node>

</launch>