<?xml version="1.0"?>
<launch>

    <param name = "robot_description" textfile = "$(find my_gripper_description)/urdf/gripper.urdf"/>

    <include file="$(find cell_sim)/launch/launch_gazebo.launch"/>


    <include file="$(find my_gripper_sim)/launch/spawn.launch">
                <arg name="robot_name" value="gripper"/>
                <arg name="init_pose" value="-x -0 -y 0 -z 0"/>
    </include>   

    <include file="$(find my_gripper_sim)/launch/launch_controller.launch"/>
   
    <node name = "rqt_publisher" pkg = "rqt_publisher" type = "rqt_publisher"/>
    <!--node name = "rqt_joint_trajectory_controller" pkg = "rqt_joint_trajectory_controller" type = "rqt_joint_trajectory_controller" /-->



</launch>