<?xml version="1.0"?>

<launch>
  
      <include file="$(find cell_sim)/launch/launch_gazebo.launch"/>



      <param name="robot_description" command="$(find xacro)/xacro '$(find ur_gripper_sim)/urdf/robot_gripper.xacro'" />


      <param name="tf_prefix" value="robot1_tf" />
      <include file="$(find cell_sim)/launch/spawn_model.launch">
            <arg name="robot_name" value="robot1"/>
            <arg name="init_pose" value="-x -1 -y 1 -z 0"/>
      </include>
          <!-- Robot state publisher -->
      <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
          <param name="publish_frequency" type="double" value="50.0" />
      </node>

      <include file="$(find ur_gripper_sim)/launch/launch_controller_w_gripper.launch"/>

     <!--node name = "rqt_joint_trajectory_controller" pkg = "rqt_joint_trajectory_controller" type = "rqt_joint_trajectory_controller" />
      <node name = "rqt_publisher" pkg = "rqt_publisher" type = "rqt_publisher"/-->



</launch>
