<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robot_gripper">

   

    <xacro:include filename="$(find ur_e_description)/urdf/ur3e_robot.urdf.xacro" />    
    <xacro:include filename="$(find my_gripper_description)/urdf/gripper.urdf" />

    <joint name="gipper_tool_joint" type="fixed">
        <parent link="ee_link" />
        <child link = "base_gripper" />
        <origin xyz="0.0 0.0 0.0" rpy="1.570 0.0 0.0" />
      </joint>

</robot>