<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robot_gripper">

   

 <!-- common stuff -->
  <xacro:include filename="$(find ur_e_description)/urdf/common.gazebo.xacro" />

  <!-- ur3e -->
  <xacro:include filename="$(find ur_e_description)/urdf/ur3e.urdf.xacro" />

  <!-- arm -->
  <xacro:ur3e_robot prefix="" joint_limited="false"/>
    <xacro:include filename="$(find onrobot_description)/urdf/gripper.urdf" />

    <joint name="gipper_tool_joint" type="fixed">
        <parent link="tool0" />
        <child link = "base_gripper" />
        <origin xyz="0.0 0.0 0.0" rpy="1.570 0.0 0.0" />
      </joint>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>